 * {
    box-sizing: border-box;
  }


body {
    background-color:rgb(255 255 255);
    font-family: 'Montserrat', sans-serif;
    width:75%;
    display: block;
    margin:auto;


  }
  
 
  
.headerpic{
    width: 100%;
    height:800px;
}

.hedtitel{
    font-size: 45px;
    font-family: fantasy;
}




.parg{
  margin-top: 50px;
    font-size: 23px;
    font-family: inherit;
    color: #524e4e;
}

.list{
  margin-top: 15px;
  width: 100%;
  height: 395px;
}

.form{
  padding-top: 26px;
    padding-left: 49px;
    font-size: 25px;
    font-family: Comic Sans MS;
}

.separator{
  display:flex;
  align-items: center;
  margin-top: 30px;
}

.separator .line{
  height: 1px;
  flex: 1;
  background-color: #999;
}

.separator img{
  width: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.center{text-align: center;
  font-size: 18px;
  color: gray;
  font-family: emoji;}

  /* header{
    margin-top: 24px;
    margin-left: 10px;
} */
.bigdiv{
    margin-top: 30px;
    
}
.nav{
    float: left;
    width: 100%;
}
.logo{
  float: left;
  width: 62px;
  display: inline;
}
.hed2{
  font-size: 45px;
    font-weight: bold;
    /* font-family: cursive; */
   
    font-family: Brush Script MT;
  
    color: black;
}

 .hed6{
  text-transform: uppercase;
    font-size: revert;
    color: grey;
    margin-left: 11px;
    margin-top: -9px;
    float: left;
}
.logoright{
    float: right;
    
}
.img1{
    margin-right: -2px;
    width: 35px;
}
.img2{
    margin-right: -2px;
    width: 35px;
}
.img3{
    margin-right: -2px;
    margin-right: 5px;
    width: 35px;
}

.foter{
    margin-top: 30px;
    float: left;
    display: inline-block;
    width: 100%;
}
.van{
    float: left;
    margin-left: 30px;
}
.p{
    margin-left: 120px;
}
.span{
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 25px;
}
.last{
    font-size: 20px;
    color: grey;
}
footer{
    clear: both;
}
 .all{
     width: clac(100%/2);
     float: left;
 }
 .button1{
     margin-right: 150px;
 }
 .button{
    width: calc(100%/6);
    float: right;
    margin-top: 13px;
    padding: 20px;
    text-transform: uppercase;
    background-color: rgb(214, 52, 52);
    color: white;
    font-size: 16px;
    /* background-color: ; */
 }

 .ricp{
   width: calc(100%/2);
   float: left;
   font-size: 23px;
   font-family: cursive;
   color: #544b4b;
 }

 section{
  display: inline-block;
    background-repeat: no-repeat;
    padding: 56px;
    background-size: cover;
    width: 100%;
    margin-top: 25px;
    box-shadow: 5px 3px #ebe1e1;
 }



 input[type="checkbox"]:checked + label::after {
  content: '';
  position: absolute;
  width: 2ex;
  height: 0.4ex;
  background: rgba(0, 0, 0, 0);
  top: 0.9ex;
  left: 0.4ex;
  border: 3px solid rgb(11, 11, 12);
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input[type="checkbox"] {
  line-height: 2.1ex;
}

input[type="radio"],
input[type="checkbox"] {
   position: absolute;
   left: -999em;
}

input[type="checkbox"] + label {
   position: relative;
   overflow: hidden;
   cursor: pointer;
}

input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  vertical-align: -25%;
  height: 2ex;
  width: 2ex;
  background-color: white;
  border: 1px solid rgb(166, 166, 166);
  border-radius: 4px;
  box-shadow: inset 0 2px 5px rgba(0,0,0,0.25);
  margin-right: 0.5em;
}

.through{
  text-decoration: line-through;
}